$margin: 15px;

// Цвета
$color-blue: #4374b7;
$color-blue-hover: #2d5b9a;
$color-orange: #ff9800; 
$color-red: #d13814;

$color-green: #15aa2d;

$background: #f9f9f9;

.task {
    width: 100%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 0 0 16px 0 #e7e7e7;
    box-sizing: border-box;
    margin: 0 0 $margin;

    &-header {
        margin: 0;
        padding: 15px;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        line-height: 130%;
        font-weight: 700;
        color: #313131;
        cursor: default;
    }

    &-controls {
        padding: 15px;

        .task-control {
            display: inline-block;
            border: 0;
            padding: 0;
            font-family: "Raleway", sans-serif;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            background-color: transparent;
            cursor: pointer;
            transition: color ease-in-out .2s;

            &:not(:last-of-type) {
                margin-right: 14px;
            }
        }

        .control-run {
            color: #1E88E5;

            &:hover {
                color: #1565C0;
            }
        }

        .control-del {
            color: #e53935;

            &:hover {
                color: #b71c1c;
            }
        }
    }

    &-bookmark {
        position: absolute;
        top: -4px;
        right: 0;
    }
}