.task__add_button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    
    a {
        display: flex;
        border: none;
        outline: none;
        text-decoration: none;
        font-family: "Raleway", sans-serif;
        font-size: 20px;
        line-height: 130%;
        font-weight: 500;
        color: #ffffff;
        background-color: #1E88E5;
        transition: background ease-in-out .2s;
        cursor: pointer;

        span.icon {
            display: block;
            height: 100%;
            padding: 10px 16px;
            background-color: #1565C0;
        }

        span.text {
            display: block;
            height: 100%;
            padding: 10px 16px;
        }

        &:hover {
            background-color: #1565C0;
        }
    }
}